* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 400px;
}

ul {
  list-style: none;
}

main {
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./img/nature.jpg") center/cover no-repeat;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #2a282a;
  padding: 3rem;
  color: white;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

footer a {
  color: white;
}

.footer-address {
  order: 1;
}

.footer-links {
  order: 2;
}

.footer-social {
  order: 3;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 2rem;
  color: white;
}

.action-btn {
  all: unset;
  padding: 1rem 2rem;
  background-color: white;
}

.burger-btn {
  all: unset;
  display: none;
  width: 2rem;
  height: 2rem;
}

.burger-btn img {
  width: 100%;
}

.heading {
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 550px;
}

.heading h1 {
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
}

.heading-btn {
  width: 140px;
  text-align: center;
}

.mission {
  background-color: rgb(216, 204, 185);
  padding: 2rem 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.mission h3 {
  font-size: 1.9rem;
  font-weight: 500;
}

.mission h4 {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 200;
}

.about {
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.about div img {
  width: 100%;
}

.about div h2 {
  font-size: 2rem;
}

.about div p {
  line-height: 1.6;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.about-image {
}

.secondary-btn {
  width: 160px;
  padding: 1rem;
  background-color: #243551;
  color: white;
  text-align: center;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.accomplishments {
  background-image: url("./img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 6rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.accomplishments h3 {
  font-size: 2rem;
  text-align: center;
}

.accomplishments h4 {
  text-align: center;
  font-size: 1.4rem;
}

.contacts {
  padding: 3rem 6rem;
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;
}

.contacts-title {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sign-up p {
  font-weight: 300;
  line-height: 1.5;
}

.sign-up-form {
  display: flex;
  gap: 0.3rem;
}

.sign-up-form input {
  border: 1px solid rgb(208, 208, 208);
  padding: 1rem 2rem;
}

.form-btn {
  width: 100px;
}

@media only screen and (max-width: 800px) {
  .burger-btn {
    display: inline-block;
  }

  nav {
    display: none;
  }

  .heading {
    width: 80%;
  }

  .heading h1 {
    font-size: 1.8rem;
  }

  .mission {
    grid-template-columns: 1fr;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-content {
    gap: 3rem;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .about-image img {
    height: 300px;
    object-fit: cover;
  }

  .accomplishments {
    padding: 12rem 2rem;
  }

  .accomplishments h3 {
    font-size: 1.7rem;
  }

  .contacts {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  footer {
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
  }

  .footer-address {
    order: 3;
  }

  .footer-links {
    order: 1;
  }

  .footer-social {
    order: 2;
  }
}
